* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  border: 4px solid black;
  width: 1000px;
  margin: 50px auto;
}

.product {
  position: relative;
}

.product::after {
  content: "SALE";
  position: absolute;
  background-color: orangered;
  width: 60px;
  height: 20px;
  top: -10px;
  left: -20px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

.price {
  font-size: 24px;
  float: left;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 8px;
  float: right;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color-div {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-orange {
  background-color: orange;
}

.color-green {
  background-color: rgb(61, 206, 61);
}

.color-brown {
  background-color: rgb(78, 58, 3);
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.details-list {
  list-style: square;
  margin-left: 25px;
}

.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  width: 100%;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: 0em;
  text-transform: uppercase;
  cursor: pointer;
  border-top: 4px solid;
  padding: 10px;
  border-top: 4px solid black;
}

.add-cart:hover {
  background-color: #fff;
  color: #000;
}

.product-description {
  margin-bottom: 15px;
  clear: both;
}

.image {
  float: left;
}

.product-price {
  float: left;
  width: 350px;
  padding: 0 40px;
}

.product-details {
  float: right;
  width: 350px;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
